@import "tailwindcss";

.product-card {
  width: 280px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 180px;
  height: 200px;
  object-fit: contain;
}

.product-card h2 {
  font-size: 18px;
}

.product-card p {
  font-size: 20px;
  font-weight: bold;
}

.product-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
.title{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    padding: 30px;
}